*{
   box-sizing: border-box;
    margin: 0;
    padding: 0;
    border:0;
}
  .nav-bar{
    overflow: hidden;
    background-color: #BC983C;
}

  .nav-bar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
    font-size: 1.3em;
  }

  .nav-bar a:hover{
    background-color: #2B495E;
    color:#BC983C;
  }

  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 1.3em;    
    border: none;
    outline: none;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 18px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .top-nav a:hover, .dropdown:hover .dropbtn {
    background-color: #2B495E;
    color: white;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .active {
    background-color: #2B495E;
    color: white;
  }

  #head{
    font-size: 1.3em;
    padding: 16px 90px;
    float: left;
    display: block;
    color: black;
    font-weight: 800;
    font-family: "montserrat";
  }

  .nav-bar .search-container {
    float: left;
    position: relative;
  }

  .nav-bar input[type=text] {
    padding:8px;
    outline: none;
    margin-left: 40px;
    color: #fff;
    border-radius: 3%;
    margin-top: 15px;
    font-size: 0.9em;
    z-index: 1;
    position: relative;
    background-color: #2B495E;
  }

  .nav-bar .search-container button {
    font-size: 1em;
    border: none;
    z-index: 2;
    cursor: pointer;
    position:relative;
    right: 30px;
    background-color: #2B495E;

  }

  .nav-bar .search-container button i{
    background-color: #2B495E;
    color: #fff;
  }

  .nav-bar .search-container button:hover {
    background: #ccc;
  }
  #icons{
    float: right;
    padding-right: 20px;
  }
  .nav-bar .icon{
    display: none;
  }

  .customer{
    display: flex;
    justify-content: space-around;

  }
  .cus-head{
    padding-top: 8%;
  }
  .cus-head p{
    padding: 23px 0 28px;
    color: #2B495E;
  }
  .cus-head h2{
    font-size: 2em;
    color: #2B495E;
  }
  .cus-img{
    padding-right: 50px;
  }
  .customer button{
    border: none;
    color: #2B495E;
    text-align: center;
    text-decoration: none;
    border:1px solid #2B495E;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-left: 60px;
    padding: 7px 18px;
    font-size: 1em;
    background-color: transparent;
  }
  .customer button:hover{
    background-color: #2B495E;
    color: #fff;
  }
  .furn-head{
    font-size: 2.3em;
    padding-top: 18%;
    
  }
  .furniture{
    height: 80vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
    box-shadow: 3px 3px #2B495E;
  }
 
  .first-slide{
    display: flex;
  }
  .furn-img{
    text-align: center;
    padding: 20px;
    width: 25%;
  }
  .furn-img h2{
    font-size: 1.4em;
    font-weight: 400;
  }

  h1{
    font-size: 2em;
    padding-top: 30px;
    padding-bottom:30px;
    padding-left: 20px;
    color: #000;
    font-weight:600;
  }
  .fimg{
    display:flex;
    justify-content: space-between;
  }

  .fimg a{
    font-size: 1em;
    padding-top: 75px;
    color: #000;
    font-weight:400;
    padding-right: 15px;
  }
  .fimg a:hover{
    color: #BC983C;
  }
  .fave-img{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
    box-shadow: 1px 1px 1px 1px rgba(1, 24, 22, 0.5)
  }

  .fav-img{
    margin: 30px;
    height: 260px;
    width: 300px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 2px 2px 2px 2px rgb(1, 25, 28, 0.4);
  }
  
  .fav-img img{
    width: 100%;
  }
  .fav-img h2{
    font-size: 1.4em;
    font-weight: 400;
    padding-left: 10px;
  }

  .rate{
    float: left;
    /* display: inline; */
  }
  .fav-img num{
    padding-left: 10px;
    color: #111e27;
  }

  .circle{
    height: 5%;
    width: 5%;
    border-radius: 100%;
    background-color: red;
    padding: 1px #000;
  }

  .

  /* Media queries */
@media screen and (max-width: 600px) {
  #icons{
    float: none;
  }

  .top-nav .search-container {
    float: none;
  }
  .top-nav a, .topnav input[type=text], .top-nav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .top-nav input[type=text] {
    border: 1px solid #ccc;  
  }
}

@media screen and (max-width: 600px) {
  .top-nav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .top-nav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .top-nav.responsive {position: relative;}
  .top-nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .top-nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .top-nav.responsive .dropdown {float: none;}
  .top-nav.responsive .dropdown-content {position: relative;}
  .top-nav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}
  