*{
    margin: 0;
    padding: 0;
    border:0;
}
#top-nav{
    overflow: hidden;
    background-color: #BC983C;
}

#top-nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 40px;
    text-decoration: none;
    font-size: 1.2em;
  }

  .active {
    background-color: #2B495E;
    color: white;
  }

  #head{
    font-size: 1.6em;
    padding: 16px 90px;
    float: left;
    display: block;
    color: black;
    font-family: "montserrat";
  }

  #top-nav .search-container {
    float: left;
    
  }

  #top-nav input[type=text] {
    padding:8px;
    margin-left: 40px;
    color: #fff;
    border-radius: 3%;
    margin-top: 15px;
    font-size: 0.9em;
    z-index: 1;
    position: relative;
    background-color: #2B495E;
  }

  #topnav .search-container button {
    /* float: left; */
    font-size: 17px;
    border: none;
    cursor: pointer;
    position:absolute;
    z-index: 2;
    padding-right: 30px;

  }

  
  #topnav .search-container button:hover {
    background: #ccc;
  }
  #icons{
    float:right;
    padding-right: 20px;
  }